.adminBody {
    width: 100%;
    background: url(../img/SignIn/adminBackground.webp) no-repeat;
    background-size: cover;
}
.admin__content {
    display: inline-block;

    width: 100%;
    margin-top: 193px;
}
.admin__wr {
    width: per(410, 1440);
    margin: 0 auto;
}
.admin__logo {
    width: 100%;
    text-align: center;
}
.admin__authorization {
    width: 100%;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: em(36);
    line-height: lh(50, 36);
    text-align: center;
    color: #fcffff;
    margin-top: 10px;
}
.admin__togglers-wr {
    width: 274px;
    height: 70px;
    background: #212426;
    border-radius: 12px;
    padding: 7px 8px;
    margin: 0 auto;
    margin-top: 11px;
    display: flex;
}
.admin__log-in {
}
.admin__sign-in {
}

.admin__in {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: lh(28, 16);
    color: #ffffff;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        transition: 0.3s;
        box-shadow: 0px 0px 30px 0px rgba(9, 38, 202, 0.4);
    }
}

.admin__checked {
    background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
    border-radius: 12px;
    width: 129px;
    height: 56px;
    color: #1d1f21;
    font-style: normal;
    font-weight: 700;
    font-size: em(18);
    line-height: lh(24, 18);
}
.admin__sing-in-togglers {
    display: none;
}
.admin__inputs-label {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: em(14);
    line-height: lh(24, 14);
    color: #fcffff;
}
.admin__radio {
}

.admin__inputs-label {
    display: block;
    cursor: pointer;
    // user-select: none;
    text-align: left;
    & + .radio {
        margin-top: 12px;
    }
    input {
        display: none;
        & + span {
            display: inline-block;
            position: relative;
            padding-left: 30px;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0px;
                left: 0px;
                border-radius: 50%;
                margin-right: 5px;
                width: 22px;
                height: 22px;
                border: 1px solid #86a8ff;
                background: transparent;
            }
            &:after {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                position: absolute;
                border-radius: 50%;
                opacity: 0;
                width: 12px;
                height: 12px;
                left: 5px;
                top: 5px;
                background: linear-gradient(
                    94.78deg,
                    #68c9ff 9.27%,
                    #d1b5ff 84.06%
                );
                transform: scale(0, 0);
                transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
            }
        }
        &:checked + span:after {
            opacity: 1;
            transform: scale(1, 1);
        }
    }
}

.admin__center-wr {
    margin-top: 21px;
}
.admin__hint {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: em(14);
    line-height: lh(21, 14);
    color: #c8d2dc;
}
.admin__emeil-hint {
}
.admin__email-input {
    margin-top: 9px;

    color: #c8d2dc;
}
.admin__input {
    width: 100%;
    height: 64px;
    background: #212426;
    border-radius: 9px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: lh(21, 16);
    color: #c8d2dc;
    padding-left: 32px;
    padding-bottom: 6px;
}
.admin__password-hint {
    margin-top: 13px;
}
.admin__bottom-wr {
    margin-top: 17px;
}
.admin__btn {
    width: 100%;
    height: 64px;
    background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
    border-radius: 16px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: em(18);
    line-height: lh(26, 16);
    color: #1d1f21;
    font-size: 18px;
}
.admin__bottom-hint {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: em(14);
    line-height: lh(21, 14);
    color: #c8d2dc;
    text-align: center;
    margin-top: 16px;
    width: 100%;

    span {
        color: #86a8ff;
        margin-left: 5px;
        text-decoration: underline;
        cursor: pointer;
    }
}
.admin__bottom-wr_sign-in {
    display: none;
}
.adminPageSingIn {
    .admin__content {
        margin-top: 152px;
    }

    .admin__togglers-wr {
        margin: 14px auto 0;
    }
    .admin__sing-in-togglers {
        display: block;
        margin-top: 19px;
    }
    .admin__labels-wr {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        width: 62.7%;
    }
    .admin__center-wr {
        margin-top: 29px;
    }

    .admin__bottom-wr_sign-in {
        display: block;
    }
    .admin__bottom-wr_log-in {
        display: none;
    }
}

.admin__btn {
    a:active {
        color: unset;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: 0.3s;
    }
    a:hover {
        font-size: 20px;
    }
}

@media screen and (max-width: 1440px) {
    .admin__wr {
        width: 410px;
    }
}

@media screen and (max-width: 480px) {
    .admin__content {
        margin-top: 18px;
    }

    .admin__wr {
        width: 345px;
    }
    .admin__authorization {
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: 700;
        font-size: em(26);
        line-height: lh(34, 26);
        text-align: center;
        color: #fcffff;
        margin-top: 48px;
    }

    .admin__togglers-wr {
        height: 49px;
        width: 100%;
        margin: 16px auto 0;
    }

    .admin__center-wr {
        margin-top: 30px;
    }
    .adminBody {
        background: url(../img/SignIn/adminBackgroundMobile.webp) no-repeat;
        background-size: cover;
    }

    .admin__togglers-wr {
        padding: 3.5px 8px;
    }
    .admin__checked {
        width: 164px;
        height: 42px;
        background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
        border-radius: 12px;

        border-radius: 12px;
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #1d1f21;
    }

    .adminPageSingIn {
        .admin__content {
            margin-top: 18px;
        }
        .admin__sing-in-togglers {
            margin-top: 25px;
        }
        .admin__labels-wr {
            width: 99.4%;
        }
        .admin__center-wr {
            margin-top: 24px;
        }
        .admin__bottom-hint {
            width: 97%;
            span {
                margin-left: 8px;
            }
        }
    }
}

@media screen and (max-width: 374px) {
    .admin__content {
        width: 100%;
    }
    .admin__wr {
        width: 95%;
    }
}
