.artWhich{
    background-image: url('../img/artWhich/back-artWhich.webp');
    background-position-x: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.artWhich-section__container{
    margin-top: 62px;
    max-width: 1140px;
}
.artWhich-text{
    font-family: 'Proxima Nova';
    font-style: normal;
    color: #FCFFFF;
    text-align: center;
    h1{
        font-weight: 700;
        font-size: 64px;
        line-height: 65px;
    }
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        max-width: 415px;
        margin: 16px auto 0px;
    }
}

.artWhich-grid {
    display: grid;
    grid-template-columns: repeat(3, 351px);
    grid-template-rows: repeat(4, 420px);
    grid-column-gap: 29px;
    grid-row-gap: 24px;
    margin-top: 49px;
    margin-bottom: 76px;
}
    
.artWhich-grid__block-1{
    grid-area: 1 / 1 / 2 / 3;
    background-image: url('../img/artWhich/grid-1.webp'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;

    transition: all 0.3s;
    &:hover{
        .artWhich-grid__hove{
            visibility: visible;
            opacity: 1;
        }
    }
}
.artWhich-grid__block-2{
    grid-area: 1 / 3 / 2 / 4; 
    background-image: url('../img/artWhich/grid-2-lock.webp'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
}
.artWhich-grid__block-3{
    grid-area: 2 / 1 / 3 / 2;; 
    background-image: url('../img/artWhich/grid-2.webp'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
        transition: all 0.3s;
    &:hover{
        .artWhich-grid__hove{
            visibility: visible;
            opacity: 1;
        }
    }
}
.artWhich-grid__block-4{
    grid-area: 2 / 2 / 3 / 3;
    background-image: url('../img/artWhich/grid-2.webp'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
        transition: all 0.3s;
    &:hover{
        .artWhich-grid__hove{
            visibility: visible;
            opacity: 1;
        }
    }
}
.artWhich-grid__block-5{
    grid-area: 2 / 3 / 3 / 4; 
    background-image: url('../img/artWhich/grid-2.webp'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
        transition: all 0.3s;
    &:hover{
        .artWhich-grid__hove{
            visibility: visible;
            opacity: 1;
        }
    }
}
.artWhich-grid__block-6{
    grid-area: 3 / 1 / 4 / 2;
    background-image: url('../img/artWhich/grid-2.webp'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
        transition: all 0.3s;
    &:hover{
        .artWhich-grid__hove{
            visibility: visible;
            opacity: 1;
        }
    }
}
.artWhich-grid__block-7{
    grid-area: 3 / 2 / 4 / 4; 
    background-image: url('../img/artWhich/grid-1.webp'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
        transition: all 0.3s;
    &:hover{
        .artWhich-grid__hove{
            visibility: visible;
            opacity: 1;
        }
    }
}
.artWhich-grid__block-8{
    grid-area: 4 / 1 / 5 / 2; 
    background-image: url('../img/artWhich/grid-2.webp'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
        transition: all 0.3s;
    &:hover{
        .artWhich-grid__hove{
            visibility: visible;
            opacity: 1;
        }
    }
}
.artWhich-grid__block-9{
    grid-area: 4 / 2 / 5 / 3; 
    background-image: url('../img/artWhich/grid-2.webp'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
        transition: all 0.3s;
    &:hover{
        .artWhich-grid__hove{
            visibility: visible;
            opacity: 1;
        }
    }
}
.artWhich-grid__block-10 {
    grid-area: 4 / 3 / 5 / 4; 
    background-image: url('../img/artWhich/grid-2.webp'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
        transition: all 0.3s;
    &:hover{
        .artWhich-grid__hove{
            visibility: visible;
            opacity: 1;
        }
    }
}

// hover =================
.artWhich-grid__hove {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;

    width: 100%;
    height: 100%;
    background: linear-gradient(140.92deg, rgba(104, 128, 255, 0.9) 3.3%, rgba(60, 167, 244, 0.9) 52.35%, rgba(140, 69, 255, 0.9) 92.15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 50px;
        color: #FCFFFF;
    }
    >p{
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        max-width: 257px;
        margin-top: 8px;
        transform: translateY(-6px);
    }
    span{
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 34px;
        color: #FCFFFF;
        margin-top: 8px;
        transform: translateY(2px);
    }
}
.artWhich-grid__hove-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 26px;
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #1D1F21;
        border-radius: 16px;
        padding-bottom: 4px;
        &:nth-child(1){
            width: 122px;
            height: 64px;
        }
        &:nth-child(2){
            width: 134px;
            height: 64px;
            display: flex;
            align-items: center;
            gap: 8px;
        }
        >p{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;     
            background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }
}
// lock=================
.artWhich-grid__hover-lock {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #525960;
    border-radius: 12px;
    >p{
        background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1.8px;
        transform: translate(1px, -4px);
    }
    >h2{
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 34px;
        color: #FCFFFF;

        background-image: url('../img/artWhich/lock.svg');
        background-repeat: no-repeat;
        background-position: left 0 top -3px;
        padding: 0px 0px 0px 56px;
    }
    a{
        background: #1D1F21;
        border-radius: 16px;
        width: 134px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 19px;
        gap: 8px;
        padding: 0 0 0px 17px;
        transform: translateY(3px);
        >p{
            background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            padding-bottom: 3px;
        }
    }
}

@media (max-width: 1200px){
    .artWhich-section__container{
        max-width: 960px;
    }
    .artWhich-grid{
        grid-template-columns: repeat(3,auto);
    }
    .artWhich-grid__hover-lock{
        >h2 {
            padding: 0 0 0 40px;
        }
    }
}
@media (max-width: 960px){
    .artWhich-grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(6, 300px);
        grid-column-gap: 25px;
        grid-row-gap: 19px;
    }   
        .artWhich-grid__block-1 { grid-area: 1 / 1 / 2 / 3; }
        .artWhich-grid__block-2 { grid-area: 2 / 1 / 3 / 2; }
        .artWhich-grid__block-3 { grid-area: 2 / 2 / 3 / 3; }
        .artWhich-grid__block-4 { grid-area: 3 / 1 / 4 / 2; }
        .artWhich-grid__block-5 { grid-area: 3 / 2 / 4 / 3; }
        .artWhich-grid__block-6 { grid-area: 4 / 1 / 5 / 2; }
        .artWhich-grid__block-7 { grid-area: 5 / 1 / 6 / 3; }
        .artWhich-grid__block-8 { grid-area: 4 / 2 / 5 / 3; }
        .artWhich-grid__block-9 { grid-area: 6 / 1 / 7 / 2; }
        .artWhich-grid__block-10 { grid-area: 6 / 2 / 7 / 3; }
}
@media (max-width: 630px){
    .artWhich{
        background-image: url('../img/artWhich/back-artWhich-375.webp');
    }
    .artWhich-section__container{
        margin-top: 26px;
    }
    .artWhich-text {
        >h1{
            font-size: 36px;
            line-height: 40px;
        }
        >p{
            font-size: 15px;
            line-height: 24px;
            max-width: 322px;
        }
    }
    .artWhich-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 199px repeat(3, 412px) 199px 412px;
        grid-column-gap: 0px;
        grid-row-gap: 19px;
        margin-top: 48px;
        margin-bottom: 38px;
    } 
    .artWhich-grid__block-1 { grid-area: 1 / 1 / 2 / 2; }
    .artWhich-grid__block-2 { grid-area: 2 / 1 / 3 / 2; }
    .artWhich-grid__block-4 { grid-area: 3 / 1 / 4 / 2; }
    .artWhich-grid__block-5 { grid-area: 4 / 1 / 5 / 2; }
    .artWhich-grid__block-6 { grid-area: 5 / 1 / 6 / 2; }
    .artWhich-grid__block-7 { grid-area: 5 / 1 / 6 / 2; }
    .artWhich-grid__block-8 { grid-area: 6 / 1 / 7 / 2; }

    .artWhich-grid__block-3,
    .artWhich-grid__block-9,
    .artWhich-grid__block-10{display: none;}
    .artWhich-grid__hover{
        >h2{
            font-size: 28px;
            line-height: 43px;
        }
        >p{
            margin-top: 0;
            transform: translateY(0px);
            line-height: 19px;
        }
        >span{
            margin-top: 0;
            transform: translateY(0px); 
        }
        .artWhich-grid__hove-btn{
            margin-top: 0;
            transform: translateY(0px); 
            a{
                height: 55px;
                width: 122px;
            }
        }
    }
}